@page "/products/add"
@using SharedApp.Dto
@using ClientApp.Services
@inject NavigationManager Navigation
@inject ProductService ProductService

<h3 class="mb-4">Add Product</h3>
<ProductForm FormModel="product" SubmitButtonText="Create Product" OnValidSubmitForm="HandleAdd" />

@code
{
    private ProductCreateDto product = new();

    private async Task HandleAdd()
    {
        var success = await ProductService.CreateAsync(product);
        
        if (success)
            Navigation.NavigateTo("/products?added=true");
    }
}